<div class="container">
    <h1>Oitems</h1>

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Url</th>
          <th>Text</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      
        <tbody>
            <% @oitems.each do |oitem| %>
              <tr>
                <td><%= oitem.votes_for.up.size %></td>
                <td><%= oitem.user.username %></td>
                <td><%= oitem.title %></td>
                <td><%= oitem.url %></td>
                <td><%= oitem.text %></td>
                <td><%= link_to 'Show', oitem %></td>
                  <% if current_user.voted_up_on? oitem %>
                     <td><%= link_to 'UnVote', unvote_oitem_path(oitem), method: :delete %></td>
                  <% else %>
                     <td><%= link_to 'Vote', vote_oitem_path(oitem), method: :post %></td>
                  <% end %>
                  <% if oitem.user ==current_user %>
                    <td><%= link_to 'Edit', edit_oitem_path(oitem) %></td>
                    <td><%= link_to 'Destroy', oitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
           <% end %>
      </tbody>
    </table>


    <br>

    <%= link_to 'New Oitem', new_oitem_path %>
</div>